main {
    display: flex;
    justify-content: center;
}

.reg1 {
    margin: 50px;
    padding: 30px 20px 30px 20px;
}

.reg1 {
    border: solid gray 1px;
}

h1 {
    font-family: cursive;
}

a {
    text-decoration: none;
    font-family: sans-serif;
}

.facebook {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 197);
    margin: 20px 30px;
}

.reg2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fgpw {
    display: flex;
    justify-content: center;
    color: black;
}


.reg1 {
    text-align: center;
}
.btn {
    padding: 5px 70px;
    background-color: rgb(0, 160, 188);
    font-weight: 200;
    color: white;
    border: solid  rgb(0, 160, 188);
    border-radius: 5px;
}

.inp {

    padding:  30px 10px;
    
}